.wrapper{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    align-items: flex-start;
    padding: 80px 12px;
    font-family: "Poppins", "sans-serif";

    @media (min-width: 768px) {
        width: 80%;
        padding: 100px 0px;
        
    }

    @media (min-width: 1024px) {
        width: 60%;
        
    }


    .message{
        display: flex;
        width: 100%;
        justify-content: flex-start;
gap: 8px;
        align-items: center;

        div{
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                aspect-ratio: 1/1;
                width: 15px;
            }
        }
        span{
            padding: 4px;
            border: 1px solid black;
            border-radius: 10px;
        }
    }



    .blobhold{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 4px;



        .blob{
            font-size: small;
            padding: 4px;
            border: 2px solid black;
            border-radius: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2px;

            div{
                width: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .technicals{

        summary{
            color: grey;
        }

        p{
            font-size: 12px;
            color: gray;
        }
    }

    app-device-screen{
        width: 100%;
    }
    .details{
        width: 100%;


        section{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .issueTitle{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;

                svg{
                    width: 30px;
                }
            }


            button{
                padding: 4px;
                background-color: transparent;
                border: 2px solid black;
                border-radius: 6px;
                font-size: 14px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;


                &:hover{
                    background-color: var(--acceptcolor);
                }
            }

          
        }

        summary{
            color: grey;
        }

        

    }
}