<section class="authpage">
  <aside class="larger">
    <p>Almost There!</p>
    <i>🎉</i>
    <span>You are one step away from reaching the next level!</span>
  </aside>
  <section class="formbox">
    <section class="wrapper">
      <div class="promotext">
        <h1>Create Account,</h1>
        <p>Sign up to get started!</p>
      </div>
      <form (ngSubmit)="onSubmit()" class="form" [formGroup]="signupForm">
        <div class="form-group">
          <label class="labelform" for="email">Email</label>
          <input class="form-control" formControlName="email" type="email" />
          <div
            class="error-message"
            *ngIf="
              signupForm.get('email')?.touched &&
              signupForm.get('email')?.invalid
            "
            [@errorAnimation]
          >
            <small
              class="text-danger"
              [hidden]="!hasError('email', 'required')"
            >
              Email is required
            </small>
            <small class="text-danger" [hidden]="!hasError('email', 'email')">
              Please enter a valid email address
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="labelform" for="password">Password</label>
          <input
            class="form-control"
            formControlName="password"
            type="password"
          />
          <div
            class="error-message"
            *ngIf="
              signupForm.get('password')?.touched &&
              signupForm.get('password')?.invalid
            "
            [@errorAnimation]
          >
            <small
              class="text-danger"
              [hidden]="!hasError('password', 'required')"
            >
              Password is required
            </small>
            <small
              class="text-danger"
              [hidden]="!hasError('password', 'minlength')"
            >
              Password must be at least 6 characters
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="labelform" for="passwordconf">Confirm Password</label>
          <input
            class="form-control"
            formControlName="passwordconf"
            type="password"
          />
          <div
            class="error-message"
            *ngIf="
              (signupForm.get('passwordconf')?.touched &&
                signupForm.get('passwordconf')?.invalid) ||
              hasPasswordMismatch()
            "
            [@errorAnimation]
          >
            <small
              class="text-danger"
              [hidden]="!hasError('passwordconf', 'required')"
            >
              Please confirm your password
            </small>
            <small class="text-danger" [hidden]="!hasPasswordMismatch()">
              Passwords do not match
            </small>
          </div>
        </div>

        <button [disabled]="!signupForm.valid" type="submit" class="submit">
          {{ signupForm.valid && !submitting ? "Sign up" : "Welcome!" }}
          {{ submitting == true ? "Loading..." : "" }}
        </button>
      </form>

      <p class="already">
        Already a member?
        <a class="travel" routerLink="/signin">Sign In</a>
      </p>
    </section>
  </section>
</section>
