nav {
    display: flex;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    z-index: 40;
    font-family: var(--main-font);

    .title{
        font-weight: bolder;
        font-size: larger;

        p{
            cursor: pointer;
        }
    }


    .actionbtns{
        display: flex;
        gap: 6px;
    }


    button{
        border: none;
        border-radius: 5px;
        padding: 8px 10px;
        cursor: pointer;
    }

    .starter{
        background-color: var(--background);
        background-image: var(--background-radient);
        color: white;
    }


    .out {
        color: black;
        background-color: white;
        transition: all 0.3s;
    }

    .out:hover{
        background-color: #ef7171;
        color: #ffffff;
    }

    svg{
        width: 50px;
        cursor: pointer;
        
    }
}


.scrollshadow{
    transition: all 0.3s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}