<nav
  [ngClass]="scrolled ? 'scrollshadow' : ''"
  [ngClass]="navVersion == 'Auth' ? 'authcolors' : ''"
>
  @if(this.navVersion !== "Client"){
  <section class="title">
    <p [routerLink]="this.routeTo">FEEDBACKED</p>
  </section>
  } @if(this.navVersion == "Client"){

  <section class="back">
    <svg
      routerLink="dashboard"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M6 12H18M6 12L11 7M6 12L11 17"
          stroke="#000000"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </g>
    </svg>
  </section>

  <section></section>
  }@else if (navVersion== "Dash") {
  <section class="actionbtns">
    <button (click)="this.signout()" class="out" routerLink="/signin">
      Log Out
    </button>
  </section>
  }@else if (navVersion == "Landing") {
  <section class="actionbtns">
    <button class="sign" routerLink="/signin">Sign In</button>
    <button class="starter" routerLink="/signup">Get Started</button>
  </section>

  }
</nav>
