/* Add these styles for the main wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Navbar styles */
app-navbar {
  display: flex;
  background-color: #ffffff00;
  position: fixed; /* Change from sticky to fixed */
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 40;
  font-family: var(--main-font);
  transition: all 0.3s;
}

/* Add styles for the router content container */
.router-content {
  flex: 1;
  width: 100%;
  position: relative;
}

body{
  background-color: #F8FAFC;
}
