.navigation {



    font-family: "Comfortaa", sans-serif;
    width: 100vw;
    padding: 20px 10px;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    background-color: white;


    .innernav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .desknav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobilenav {
        display: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0;

        li {
            margin: 0 10px;
            cursor: pointer;
        }
    }

    .trialbtnmob {
        padding: 12px 6px;
        font-weight: 500;
        border-radius: 5px;
        border: none;
        background-color: #35d290;
        color: white;
    }



    @media (max-width: 768px) {
        .mobilenav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .menu {
            width: 35px;
            height: 35px;
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .desknav {
            display: none;
        }
        
    }


}