.procon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 12px;


    .containter{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }



    .procon_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;
        width: 100%;



        @media (min-width: 768px){
 
            width: 80%;
        }

        @media (min-width: 1024px){
            width: 70%;
        }
    }


    .textbox{

            width: 100%;
            padding: 25px 0px;
        p{
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 12px;
            color: #1e43fd72;
        }

        span{
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 2rem;
            font-weight: 700;
            color: var(--text-color);
        }


        @media (min-width: 768px){
            width: 70%;
        }

        @media (min-width: 1024px){
            width: 40%;
        }
    }


    .neg{
        p{
            color: #e6848472;
        }
    }
   
}