.detailbox {
    width: 100%;
    padding: 10px 10px;
    background: var(--main-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;






    .detailtop{

      width: 100%;
        section{
            display: flex;
            justify-content:  space-between;
            align-items: center;
            h2{
                padding: 5px;
                font-family: var(--main-font);
                font-weight: 400;
            }

            button{
                padding: 6px;
                background: transparent;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s;

                &:hover{
                    background-color: black;
                    color: white;
                }
            }
    
        }

        div{
            padding: 5px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2;

            svg{
                width: 40px;
            }
        }
    }

}