<section class="messagesdisp">
  <div class="hovertext">
    <p>Stop getting these messages</p>
  </div>
  <section class="animationbox">
    <section class="box arr1">
      @for(message of array1; track message+$index){
      <section class="messagebox">
        <q>{{ message }}</q>
      </section>
      } @for(message of array1; track message+$index){
      <section class="messagebox">
        <q>{{ message }}</q>
      </section>
      } @for(message of array1; track message+$index){
      <section class="messagebox">
        <q>{{ message }}</q>
      </section>
      }
    </section>
    <section class="box arr2">
      @for(message of array2; track message+$index){
      <section class="messagebox">
        <q>{{ message }}</q>
      </section>
      } @for(message of array2; track message+$index){
      <section class="messagebox">
        <q>{{ message }}</q>
      </section>
      } @for(message of array2; track message+$index){
      <section class="messagebox">
        <q>{{ message }}</q>
      </section>
      }
    </section>
  </section>
</section>
