nav {
    display: flex;
  background-color: white;
    position: sticky;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    z-index: 40;
    font-family: var(--main-font);
    transition: all 0.3s;



    .back{
        border: transparent;
        padding: 0px;
        background-color: transparent;


        svg{
            width: 35px;

            @media (min-width: 1024px){
                width: 45px;
            }
        }
    }



    .openMobilenav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 20px;
        height: 100vh;
        background-color: #262626;
        z-index: 200;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        transition: all 0.3s;

        ul{
            display: flex;
            flex-direction: column;
            gap: 20px;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            color: #ffffff;
            font-family: var(--main-font);
            font-size: 1.4em;
            font-weight: bolder;
            text-align: center;


            li{
                cursor: pointer;
            }
        }


        
        .actionbtns{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 100%;

            button{
                cursor: pointer;
                width: 100%;
                padding: 10px 20px;
                border-radius: 5px;
                color: white;
                border: none;
                font-size: 1.2rem;
                box-shadow: 0px 0px 10px #ffffff1a;
            }

            .sign{
                background-color: #ffffff;
                box-shadow: inset 0px 0px 10px #ffffff1a;
                background-color: var(--background);
                color: black;
            }

            .starter{
                background-color: var(--background);
                background-image: var(--background-radient);
            }

            .out{
                background-color: transparent;
                color: var(--rejectcolor);
                border: 2px solid var(--rejectcolor);
            }
        }
    }


    .middlebuttons{
        display: none;
        gap: 10px;
        text-decoration: none;
        list-style: none;
        font-size: 1em;





            li{
                border-bottom: 1px solid transparent;
                cursor: pointer;
                transition: all 0.3s;

                &:hover{
                    border-bottom: 1px solid black;
                }
            }


        @media screen and (min-width: 768px){
            display: flex;

        }
    }

    .title{
        font-weight: bolder;
        font-size: larger;
        z-index: 500;
        transition: all 0.3s;

        .open{
            color: white;
        }

        p{
            cursor: pointer;
            transition: all 0.3s;
        }

        p.auth{
            color: var(--background);

            &:hover{
                color: black;
            }
        }

        p:hover{
            color: var(--background)
        }


        @media (min-width: 768px){
            p{
                font-size: 1.5rem;
            }
        }

        @media (min-width: 1024px){
            p{
                font-size: 2rem;
            }
        }
    }
    .mobilenav{

        z-index: 400;


        background-color: transparent;
        svg{
            width: 25px;
            transition: all 0.3s ease-in-out;

            @media (min-width: 1024px){
                width: 35px;
            }
        }

        @media screen and (min-width: 768px){
        }
    }


    .actionbtns{
        display: none;
        gap: 6px;

        @media screen and (min-width: 768px){
            display: flex;
        }
    }


    button{
        border: none;
        border-radius: 5px;
        padding: 8px 10px;
        cursor: pointer;
        font-size: 1em;
    }

    .starter{
        background-color: var(--background);
        background-image: var(--background-radient);
        color: white;
        transition: all 0.3s;

        &:hover{
            opacity: 0.8;
        }
    }

    .sign{
        border: 1px solid black;
        color: black;
        background-color: white;
        transition: all 0.3s;


        &:hover{
            background-color: var(--background);
            border: 1px solid var(--background);
            color: white;
        }
    }


    .out {
        color: black;
        background-color: white;
        transition: all 0.3s;
    }

    .out:hover{
        background-color: #ef7171;
        color: #ffffff;
    }

    svg{
        width: 50px;
        cursor: pointer;

    }
}


.authcolors{
    background-color: transparent;
}


.scrollshadow{
    transition: all 0.3s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;


    @media screen and (min-width: 768px){
        padding: 20px;

    }
}
