<nav
  [ngClass]="navVersion !== 'Auth' && navVersion !== 'Landing' ? 'signed' : ''"
>
  <section
    class="large"
    [ngClass]="scrolled ? 'scrollbuff' : ''"
    [ngClass]="navVersion == 'Auth' ? 'scrollbuff' : ''"
  >
    <h1
      [routerLink]="
        navVersion === 'Auth' || navVersion === 'Landing' ? '/' : '/dashboard'
      "
    >
      Feedbacked
    </h1>

    @if(navVersion !== 'Auth' && navVersion !== 'Landing'){
    <ul>
      @for(link of dashlinks; track link.route){
      <li
        (click)="openMenu()"
        [ngClass]="activeRoute(link.name) ? 'active' : ''"
        [routerLink]="link.route"
      >
        {{ link.name }}
      </li>
      }
    </ul>
    }@else {

    <ul>
      @for(link of links; track link.route){
      <li
        (click)="openMenu()"
        [ngClass]="activeRoute(link.name) ? 'active' : ''"
        [routerLink]="link.route"
      >
        {{ link.name }}
      </li>
      }
    </ul>
    }

    <section class="buttons">
      @if(signedin()){
      <button class="outer" (click)="signout()">Sign out</button>
      }@else {
      <button class="signer" routerLink="/signin">Sign in</button>
      <button class="starter" routerLink="/signup">Get started</button>
      }
    </section>
  </section>

  <section class="mobile" [ngClass]="scrolled ? 'scrollbuff' : ''">
    <h1 [ngClass]="open ? 'open' : ''">Feedbacked</h1>

    <button (click)="openMenu()">
      <hr [ngClass]="open ? 'open turn1' : ''" />
      <hr [ngClass]="open ? 'open turn2' : ''" />
      <hr [ngClass]="open ? 'open turn3' : ''" />
    </button>
  </section>

  @if(this.open){
  <section
    class="mobileMenu"
    [@openClose]
    [@staggerItems]
    [ngClass]="scrolled ? 'scrollbuff' : ''"
  >
    @if(navVersion == "Landing" || navVersion == "Auth"){
    <ul>
      @for(link of this.links ; track link.route){
      <li [routerLink]="link.route" (click)="openMenu()">
        {{ link.name }}
        <div>
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z"
                fill="#0F0F0F"
              ></path>
            </g>
          </svg>
        </div>
      </li>
      }
    </ul>
    }@else{
    <ul>
      @for(link of dashlinks; track link.route){
      <li
        (click)="openMenu()"
        [ngClass]="activeRoute(link.name) ? 'active' : ''"
        [routerLink]="link.route"
      >
        {{ link.name }}
        <div>
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z"
                fill="#0F0F0F"
              ></path>
            </g>
          </svg>
        </div>
      </li>
      }
    </ul>
    }

    <section class="buttons">
      @if(signedin()){
      <button routerLink="/" class="outer" (click)="signout()">Sign out</button>
      }@else {
      <button routerLink="/signup" (click)="openMenu()" class="starter">
        Get started
      </button>
      <button routerLink="/signin" (click)="openMenu()" class="signer">
        Sign in
      </button>
      }
    </section>
  </section>
  }
</nav>
