nav {
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    padding: 10px;
    align-items: center;
    z-index: 40;
    font-family: var(--main-font);
    transition: all 0.3s;


    //Screen nav
    .large{
        display: none;
        background-color: white;
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
        @media (min-width: 768px){
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        width: 100%;
        padding: 12px;


        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;


            li{
                transition: all 0.3s ease-in;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }

            li.active{
                text-decoration: underline;
            }

            
        }

        .buttons{

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;

            button{
                padding: 6px;
                border: none;
                border-radius: 6px;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                background-color: transparent;
                font-size: 16px;
            }

            .signer{
                border: 1px solid transparent;
                &:hover{
                    border: 1px solid black;
                }
            }

            .outer{

            }

            .starter{
                color: white;
                background: var(--background-radient);

                &:hover{
                    scale: 1.02;
                    box-shadow: 0 0 30px rgba(0,0,0,0.2);
                }

            }

        }
    }

    .large.scrollbuff{
        width: 95%;
        border-radius: 15px;
        box-shadow: 0 0 30px rgba(0,0,0,0.2);
    }

    //Mobile Nav
    .mobile{

        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s ease-in-out;
        width: 100%;
        padding: 4px 12px;
        background-color: white;
        z-index: 40;
        border-radius: 15px;

        h1{
            color: black;
            font-size: 1rem;
        }


        button{
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 4px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            z-index: 100;
            position: relative;
            width: 40px;
            height: 40px;

            hr:nth-child(1) {
                top: 35%;
            }
            hr:nth-child(2) {
                top: 50%;
            }
            hr:nth-child(3) {
                top: 65%;
            }


            hr{
                width: 20px;
                border: 1px solid black;
                position: absolute;
                transition: all 0.3s ease-in-out;
                left: 50%;
                transform: translateX(-50%);
            }
        
            hr.turn1 {
                top: 50% !important; /* Override the initial position */
                transform: translateX(-50%) rotate(45deg);
            }
            
            hr.turn2 {
                display: none;
            }
            
            hr.turn3 {
                top: 50% !important; /* Override the initial position */
                transform: translateX(-50%) rotate(-45deg);
            }

        }

        @media (min-width: 768px){
            display: none;
        }
    }

    .mobile.scrollbuff{

        width: 95%;
        border-radius: 15px;
        box-shadow: 0 0 30px rgba(0,0,0,0.2);
    }


    .mobileMenu{
        width: 100dvw;
        height: 100dvh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        padding:70px 10px 0 10px;
        transition: all 0.3s ease-in-out;

        @media (min-width: 768px) {
            display: none;
            
        }
        

        ul{
            width: 100%;
            list-style: none;
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4px;

            transition: all 0.3s ease-in-out;
            li{
                background-color: white;
                border-radius: 15px;
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 12px;
                align-items: center;
                box-shadow: 0 0 30px rgba(0,0,0,0.2);
                position: relative;


                div{
                    position: absolute;
                    right: 10px;

                    width: 20px;
                    height: 20px;
                }
            }
        }

        .buttons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 5px;
            gap: 4px;

        button{
                font-family: var(--main-font);
                width: 100%;
                padding: 12px;
                border-radius: 15px;
            }

            .starter{
                border:none;
                background: var(--background-radient);
                color: white;
                font-weight: 600;
                font-size: 1rem;
            }

            .outer{
                border:none;
                background: rgb(236, 71, 71);
                color: white;
                font-weight: 600;
                font-size: 1rem;
            }

            .signer{
                background-color: #0F172A;
                border:none;
                font-weight: 600;
                font-size: 1rem;
                color:white;
            }
        }

    }

    .mobileMenu.scrollbuff{
        padding-left: 5%;
        padding-right: 5%;
    }


}


nav.signed{



}