<section class="landing">
  <section class="hero">
    <section class="about">
      <section class="hero_text">
        <h2>Handle client feedback with ease!</h2>
        <p>
          The revolutionary tool that helps you deliver projects above
          expectations leaving a lasting impression.
        </p>
      </section>

      <section class="hero_btn">
        <button routerLink="/signup">Get started today</button>
        <p>No card required</p>
      </section>
    </section>

    <section class="imageholder">
      <div class="image"></div>
    </section>
  </section>

  <section class="why">
    <app-headerbox
      class="whybox"
      title="Why Feedbacked?"
      header="Handle client feedback with ease!"
      description="Feedbacked changed the way we deal with client issues. It has saved us countless hours, a total gamechanger!"
      by="Founder, Gustavsson Development"
    />

    <section class="feedbacksecond"></section>
  </section>
</section>
