.issuemodal {
    display: flex ;
    flex-direction: column;
    padding: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease-in-out;
    gap: 10px;
    min-width: 250px;
    border-radius: 15px;
    background-image: var(--background-radient);


    .date{
        font-size:0.9rem;
        font-weight: 400;
        font-family: var(--main-font);
    }

    .details {
        .title{
            font-size: 1.2rem;
            font-weight: 600;
            font-family: var(--main-font);
        }
        .desc{
            font-size: 1rem;
            font-weight: 400;
            font-family: var(--main-font);
        }
    }


    .imagebox{
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 15px;
        background-color: white;
        
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0,0,0,0.5);
    }
}

.issuemodal:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

}


.buttonbox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    .expbutton{
        padding: 10px 20px;
        border-radius: 10px;
        background-color: var(--primary-color);
        color: white;
        font-size: 1rem;
        font-weight: 600;
        font-family: var(--main-font);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .expbutton:hover{

        border:1px solid rgba(0, 0, 0, 0.2);
        color: blueviolet
    }

}