<article class="issuemodal" id="{{ issue.id }}">
  <div>
    <p class="date">Date: {{ datestring }}</p>
  </div>

  <section class="details">
    <p class="title">{{ issue.title }}</p>
    <p class="desc">{{ issue.body }}</p>
  </section>

  <figure class="imagebox">
    @if(issue.image !== ""){
    <img class="issueimage" src="{{ issue.image }}" alt="" />
    }@else{
    <p>No attached image</p>
    }
  </figure>

  <section class="buttonbox">
    <button class="expbutton">Expand Issue</button>
  </section>
</article>
