.wrapper{
    padding-top: 80px;
    font-family: var(--main-font);
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        gap: 6px;


        button{
            padding: 8px;
            border-radius: 10px;
            border: 0px solid transparent;
            background-color: white;
            color:black;
            transition: all 0.3s ease-in-out;
            cursor: pointer;


    @media (min-width: 1024px){
     
        font-size: 16px;
    }
        }

        button.active{
            background-color: blue;
            color: white;
        }
    }

    .displaybox{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 12px;

        @media (min-width: 1024px){
            padding-top: 80px;
            padding-left: 20px;
            width: 100%;
            min-height: 100svh;
        }

        .base{
   
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
           

            .current{
                font-size: 20px;
                font-weight: 700;
            }

            .settingsbox{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                    .titlehold{
                        font-weight: 700;
                    }

                    .change{
                        border:1px solid transparent;
                        background-color: var(--cta-col);
                        padding: 4px;
                        border-radius: 6px;
                        color:white;
                        
                    }
                }
            }
        }
       
    }
    .setting{
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;


        select{
            padding: 4px;
            border-radius: 5px;
            color:black;
            border:1px solid black;
        }

    }