@if(user){
<app-centerwrapp>
  <section class="wrapper">
    <aside class="nav">
      @for(link of tabs; track link;){
      <button
        (click)="updateSetting(link)"
        [ngClass]="currentSetting() === link ? 'active' : ''"
      >
        {{ link }}
      </button>
      }
    </aside>
    <section class="displaybox">
      @if(currentSetting() === "Profile"){
      <!-- Profile Settings -->
      <section class="base">
        <p class="current">{{ currentSetting() }}</p>
        <section class="settingsbox">
          <div class="setting">
            <p class="titlehold">Email:</p>
            <p>{{ this.user.email }}</p>
          </div>
          <div class="setting">
            <p class="titlehold">Username:</p>
            <p>{{ this.user.username }}</p>
          </div>
          <div class="setting">
            <p class="titlehold">Request password change</p>

            <!-- TODO: Implement password change -->
            <button class="change">Change password</button>
          </div>
        </section>
      </section>
      }@else if (currentSetting() === "Payment") {
      <!-- Payment Settings -->
      <section class="base">
        <p class="current">{{ currentSetting() }}</p>
      </section>
      }@else if (currentSetting() === "Integrations") {
      <!-- Integrations Settings -->
      <section class="base">
        <p class="current">{{ currentSetting() }}</p>

        <div class="setting">
          <p>Select an Integration</p>
          <select [(ngModel)]="selectedIntegration" name="Integration">
            <option value="none">Choose one</option>
            <option value="github">Github</option>
          </select>
        </div>

        <app-integration [selected]="selectedIntegration" />
      </section>
      }@else if (currentSetting() === "Account") {
      <!-- Account Settings -->
      <section class="base">
        <p class="current">{{ currentSetting() }}</p>
      </section>
      }@else if (currentSetting() === "Data") {
      <!-- Data Settings -->
      <section class="base">
        <p class="current">{{ currentSetting() }}</p>
      </section>
      }
    </section>
  </section>
</app-centerwrapp>

}
