.dashboard {

    padding-top: 10vh;

    width: 100vw;
    min-height: 100vh;
    font-family: var(--main-font), sans-serif;
    background-color: var(--background);
    display: flex;
    flex-direction: column;

  .lower{
    margin-top: 20px;
    padding: 80px 20px 0 20px;

    background-color: var(--background);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    @media (min-width: 768px){
      padding: 80px 50px 0 50px;
    }
    @media (min-width: 1024px){
      padding: 80px 150px 0 150px;
    }




    .buttonbox {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;


      button{
        border: 1px solid grey;
        height: 100%;
        padding: 10px;
        border-radius: 10px;



        svg{
          width: 20px;
          rotate: 90deg;
          aspect-ratio: 1/1;
        }
      }
    }


    .searchbox{

      width: 100%;
      display: flex;
      align-items: center;
      gap: 6px;


      .inputbox{

        position: relative;
        display: flex;
        align-items: center;
        flex: 1;

        input{
          padding: 12px 40px 12px 12px;
          border:1px solid rgba(128, 128, 128, 0.63);
          border-radius: 6px;
          box-shadow: 0 0 1px black;
          width: 100%;

          color: black;

          ::placeholder{
            color: grey;
          }
        }

        div{
          padding: 6px;
          position: absolute;
          right: 0;
          width: 30px;
          aspect-ratio: 1/1;
        }
      }










    }



    .clients{
      padding: 20px 0 20px 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      place-content: center;
      gap: 10px;



      @media (min-width: 768px){
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 1024px){
        grid-template-columns: repeat(3, 1fr);
      }

      @media (min-width: 1400px){
        grid-template-columns: repeat(4, 1fr);
      }
    }

  }




}

