.dashboard {

    padding-top: 10vh;

    width: 100vw;
    min-height: 100vh;
    font-family: var(--main-font);
    background-color:  white;
    display: flex;
    flex-direction: column;


    @media(min-width: 1024px){
        flex-direction: row;
    }



    .navbar {

        width: 20%;
        height: 100%;
        background-color: aqua;

    }


    .clients {

        padding: 12px;
        height: 100%;

        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}

.clienthead {
    font-size: xx-large;
    font-family: var(--main-font);
}