<section class="dashboard">
  <aside class="navbar">
    <app-user-details />
  </aside>
  <section class="clients">
    <h1 class="clienthead">Your Clients</h1>
    @if(!clients() || loading()){ @for(i of [1,2,3,4,5]; track $index) {
    <app-loadingcomp height="80" index="{{ $index }}" />
    } }@else {@for(client of clients(); track client){
    <app-clientoverviewmodal
      client="{{ client.name }}"
      status="{{ client.status }}"
      issues="{{ client.feedbacks }}"
      userId="{{ userId }}"
      email="{{ client.email }}"
    />
    }@empty {
    <p>No clients added</p>
    <button>Add a new client</button>
    }}
  </section>
</section>
