
article{
    width: 300px;
    aspect-ratio: 16/9;
    text-align: center;
    padding: 12px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border:3px solid #0000001f;
    position: relative;
    overflow: hidden;

    svg {
        width: 70px;
        position: absolute;
        top: -15px;
        right: -15px;
    }
    .name{
        font-size: 1rem;
        font-weight: 700;
        color: var(--main-color);
        text-align: center;
        line-height: 30px;
        opacity: 1;
    }

    hr{
        width: 50px;
        border:none;
        height: 3px;
    }


    .desc{
        font-size: 0.7rem;
        font-weight: 400;
        color: var(--main-color);
        text-align: center;
        line-height: 20px;
        opacity: 0.5;
    }
}


@media (min-width: 768px){
    article{
        width: 400px;


        .name{
            font-size: 1.5rem;
        }

        .desc{
            font-size: 1rem;
        }
    }
}

@media (min-width: 1024px){
    article{
        width: 600px;

        .name{
            font-size: 2rem;
        }
        .desc{
            font-size: 1.2rem;
        }
    }
}

.negative{
    border-color: #e6848472;


    hr{
        background-color: #e6848472;
    }

}


.positive{
    border-color: #1e43fd72;


    hr{
        background-color: #1e43fd72;
    }

}