.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;

    display: flex;
    justify-content: center;
    align-items: center;




    section{

        background-color: rgb(32, 32, 32);
        .ghtitle{}
    }
}