.nameinvalid{
  position: absolute;
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.51);
  z-index: 100;




  section{

    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 6px;


    @media (min-width: 768px) {
      width: 60%;

    }


    p{
      font-size: x-large;
    }
    input {
      padding: 6px 12px;
      border-radius: 5px;
      border: none;
      font-family: var(--main-font);
      border-bottom: #262626;

    }

    button{
      width: 100%;
      border:none;
      padding: 6px 12px;
      border-radius: 5px;
      background-color: var(--acceptcolor);
      color: white;
      font-size: large;

    }
  }



}
