/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text: #333;
    --background: #c1e4fb;
    --background-radient:linear-gradient(135deg, #8BC6EC 0%, #979be2 100%);
    --main-font: 'Poppins', sans-serif;
    --main-card: #F8FAFC;
    --svg-background: url("../public/bg.svg");
    --acceptcolor: #28F6AA;
    --rejectcolor: #FF3D3D;
}

body {
   background-color: #ffffff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}