<section class="home">
  <section class="introtext">
    <h1>Reach your clients goals faster!</h1>

    <p>Turn client feedback into easy to handle tasks withot any hastle!</p>

    <section class="buttons">
      <button class="trialbtn btnbase">Start a free trial</button>
      <button class="demobtn btnbase">Request a demo</button>
    </section>
  </section>

  <section class="heroimg">
    <figure
      data-poster-url="https://cdn.prod.website-files.com/5f99894738b151bd6232e47c/602cf05bb5af2959b5b0d9ff_webanimation-loop-optimized-poster-00001.jpg"
      data-video-urls="https://cdn.prod.website-files.com/5f99894738b151bd6232e47c/602cf05bb5af2959b5b0d9ff_webanimation-loop-optimized-transcode.mp4,https://cdn.prod.website-files.com/5f99894738b151bd6232e47c/602cf05bb5af2959b5b0d9ff_webanimation-loop-optimized-transcode.webm"
      data-autoplay="true"
      data-loop="true"
      data-wf-ignore="true"
      data-beta-bgvideo-upgrade="false"
      class="hero-video"
    >
      <video
        id="Background Video Wrapper-video"
        autoplay=""
        loop=""
        style="
          background-image: url('https://cdn.prod.website-files.com/5f99894738b151bd6232e47c/602cf05bb5af2959b5b0d9ff_webanimation-loop-optimized-poster-00001.jpg');
        "
        muted=""
        playsinline=""
        data-wf-ignore="true"
        data-object-fit="cover"
      >
        <source
          src="https://cdn.prod.website-files.com/5f99894738b151bd6232e47c/602cf05bb5af2959b5b0d9ff_webanimation-loop-optimized-transcode.mp4"
          data-wf-ignore="true"
        />
        <source
          src="https://cdn.prod.website-files.com/5f99894738b151bd6232e47c/602cf05bb5af2959b5b0d9ff_webanimation-loop-optimized-transcode.webm"
          data-wf-ignore="true"
        />
      </video>
      <div class="videoratio"></div>
    </figure>
  </section>
</section>
