.home {

    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: #ffffff;



    .introtext {

        text-align: center;
        padding: 2rem;

        max-width: 90%;

        h1 {
            font-family: "Comforta", sans-serif;
            font-size: 1.2em;
            margin: 0;
            padding-bottom: 20px;
            @media (min-width: 768px) {
    
                font-size: 2.5rem;
            }
        }
        p {
            font-family: "Roboto", sans-serif;
            font-size: 1em;
            color: black;
            opacity: 0.8;
            @media (min-width: 768px) {
     
                font-size: 1.2rem;
            }
        }

        .heroimg {
            max-width: 90%;

            .herovideo {
                width: 100%;
            }
        }

        .buttons{
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 0.5rem;
        }
        .trialbtn, .demobtn {
            border: 2px solid var(--cta);
            cursor: pointer;
            padding:16px 24px ;
            transition: all 0.3s;
        }

        .trialbtn:hover, .demobtn:hover {
            background-color: var(--cta-hover);
            color: white;
        }

        .trialbtn {
            background-color: var(--cta);
            color: white;
        }
        .demobtn {
            background-color: white;
            color: var(--cta);
        }
    }
}