<section class="dashclient">
  @if(clientData && !loading()){ @if(this.adding()){
  <section class="addkeymodal">
    <section class="innerbox">
      <p class="title">Add New Key</p>
      <fieldset>
        <label for="name">Key name</label>
        <input type="text" required placeholder="Who is this key for?" />
      </fieldset>

      <div class="buttonbox">
        <button class="cancel" (click)="toggleAdd('erroraddkey')">
          Cancel
        </button>
        <button class="accept">Add key</button>
      </div>
    </section>
  </section>
  } @if(popup()){
  <app-popup class="popup" [type]="action" />
  }

  <section class="clientexists">
    <app-clientdetails [clientData]="clientData"></app-clientdetails>
  </section>

  <section class="issuesbox">
    <p>Issues</p>

    <section class="issues">
      @for(issue of clientData.feedbacks; track clientData.feedbacks){
      <app-clientissues [issue]="issue" />
      }
    </section>
  </section>
  <section class="keysgrid">
    <section class="keys">
      <section class="head">
        <h3>Active keys</h3>
        <p>
          Key allowance {{ this.clientData.keys.length }} / {{ allowedKeys }}
        </p>
      </section>

      <section class="keyslist">
        @for(key of clientData.keys; track clientData.keys){ }@empty {
        <section class="keysempty">
          <p>No keys found</p>
          <button (click)="toggleAdd('')">Add Client Key</button>
        </section>
        }
      </section>
    </section>
  </section>

  }@else if(loading()){

  <section class="loadingwrapp">
    <app-loadingcomp height="80" index="0" />
    <app-loadingcomp height="300" index="1" />
  </section>

  }@else {
  <div class="no-data">
    <p>Something went wrong. Couldnt find client</p>
    <button [routerLink]="goBack"></button>
  </div>
  }
</section>
