<section class="dashclient">
  @if(clientData){

  <section class="clientexists">
    <app-clientdetails [clientData]="clientData"></app-clientdetails>
  </section>

  <section class="issuesbox">
    <p>Issues</p>

    <section class="issues">
      @for(issue of clientData.feedbacks; track clientData.feedbacks){
      <app-clientissues [issue]="issue" />
      }
    </section>
  </section>

  }@else {
  <div class="no-data">
    <p>Something went wrong. Couldnt find client</p>
    <button [routerLink]="goBack"></button>
  </div>
  }
</section>
