.dashclient {
    width: 100vw;
    min-height: 100vh;
    font-family: var(--main-font);
    background-color: var(--background);
    background-image: var(--background-radient);
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.clientexists{
    width: 100%;
}


.issuesbox{
    width: 100%;
    padding: 10px;
    font-family: var(--main-font);
    background-color: #F8FAFC;
    //background-color: var(--background);
    //background-image: var(--background-radient);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 10;

    p{
        font-size: 1.5rem;
        font-weight: 600;
        font-family: var(--main-font);
    }
}

.issues {
    display: flex;
    gap: 6px;
    padding: 12px 5px;
    overflow-x: scroll;
}

.loadingwrapp{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px
}



.keysgrid{

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}


.keys {
    width: 100%;
    padding: 10px;
    font-family: var(--main-font);
    background-color: #F8FAFC;
    //background-color: var(--background);
    //background-image: var(--background-radient);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 10;


    .head{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h3{
        font-size: 1.5rem;
        font-weight: 600;
        font-family: var(--main-font);
    }
}

.keysempty {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;



    button{
        padding: 10px 20px;
        background-color: var(--primary);
        color: black;
    
        border: 1px solid black;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: var(--main-font);
        cursor: pointer;
        transition: 0.3s;
        margin-top: 10px;
    }
}


.addkeymodal {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    transition: all 0.3s;
    


    .innerbox {

        min-width: 300px;

        padding: 8px;
        width: 40%;
        border-radius: 15px;
        box-shadow: 0 0 30px black;
        background-color: white;


        fieldset {
            border: none;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        input{
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            font-size: 1.2rem;
            font-family: var(--main-font);
        }
    }
}


.buttonbox {
    width: 100%;
    display: flex;
    padding: 6px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;



    button {
        padding: 6px 10px;
        border-radius: 5px;
        font-size: 1.2rem;
        font-family: var(--main-font);
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s;
        border: none;
        color: white;
    }


    button:hover {
        opacity: 0.9;
    }


    .cancel{

        background-color: var(--rejectcolor);
  
    }
    .accept{


        background-color: var(--acceptcolor);
    }
}

.popup{
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}