.dashclient {
    width: 100vw;
    min-height: 100vh;
    font-family: var(--main-font);
    background-color: var(--background);
    background-image: var(--background-radient);
    padding: 10px;
}